@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{ font-family: "Google Sans", sans-serif; }

/* Paleta */
:root{
    --bg-gradient: linear-gradient(to bottom, #2c2438, #171717);
    --text-main: #eee4f6;
    --text-bold: #ddd;
    --text-placeholder: #acacac;
    --border-hover: #595959;
    --footer-color: #595959;
    --footer-hover: #e1b4ff;
}

.light-mode{
    --bg-gradient: linear-gradient(135deg, #fefefe 10%, #c090bc 100%);
    --text-main: #000;
    --text-bold: #200025;
    --text-placeholder: #595959;
    --border-hover: #a78ba6;
    --footer-color: #614261;
    --footer-hover: #9d3b9d;
}

html{ height: 100%; }

body{
    background: var(--bg-gradient);
    background-attachment: fixed;
    color: var(--text-main);
}

.container {
    padding: 55px;
}

.header{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#theme-toggle{
    padding-top: 20px;
    cursor: pointer;
    transition: transform 1s cubic-bezier(0.4,0,0.2,1), color 0.5s ease;
    display: inline-block;
}.light-mode #theme-toggle{
    transform: rotate(360deg);
    color: #832d91;
}

.header textarea {
    background: transparent;
    color: var(--text-bold);
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    transition: 0.9s;
}

.header textarea:hover{
    border-bottom: 1px solid var(--border-hover);
    box-shadow: 0 3px 30px -15px var(--border-hover);
}

.header textarea::placeholder{
    color: var(--text-placeholder);
}

.notes-content{
    padding: 5px;
}

.notes-content textarea{
    background: transparent;
    color: var(--text-main);
    font-size: 16px;

    min-height: 65vh;
    height: 100%;
    width: 95%;
    line-height: 1.6;
    letter-spacing: 0.8px;
    padding-left: 40px;

    hyphens: auto;
    word-wrap: break-word;

    resize: none;
    overflow: hidden;
    border: none;
    outline: none;
}

.notes-content textarea::placeholder{
    color: var(--text-placeholder);
}

footer{
    color: var(--footer-color);
    font-size: 12px;
    justify-self: center;
    padding-bottom: 5px;
    transition: 0.9s;
}

footer:hover{
    color: var(--footer-hover);
}